extends template

block content
	.container
		.row
			.col-md-12
				form(action='/results' method='POST').input-group
					input(placeholder='Club' name='country').form-control
					.input-group-btn
						button.btn.btn-secondary Search
		.row
			.col-md-4
				form(action='/results' method='POST')
					h2 Filter
					select.form-control(name='country' id='country')
						each country in countries
							option(value=country)= country
					button.btn.btn-outline-primary Apply
			.col-md-8
				ul.panels
					.row
						each club in clubs
							.col-md-4
								a(href='/groups/' + club.club style='text-decoration: none').panel.panel-info
									.panel-body
										img.img-responsive(src='/uploads/clubs/' + club.image)
										h4= club.club
										p= club.country
										input.club-id(type='hidden' value=club._id)
										input.club-name(type='hidden' value=club.club)
										p #{club.fans.length} #{club.fans.length == 1 ? 'fan' : 'fans'}
										button.btn.btn-primary.addFavorite Add to favorite
block scripts
	script(src='/socket.io/socket.io.js')
	script(src='/js/group/sendRequest.js')
	script(src='/js/home.js')
	script(src='/js/global.js')